main {
  font-family: Arial, sans-serif;
  background: #f5f6f7;
  padding: 20px;
  width: 450px;
  border: 1px solid lightgrey;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  background: #fff;
  padding: 20px;
}

h2 {
  font-size: 14px;
  margin: 20px 0 8px;
}

input, select {
  /* width: 100%; */
  width: 100px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.gender {
  font-size: 14px;
  width: 30px;
}
.email{
  width: 300px;
}
.nation {
  width: 300px;
}
.tel{
  width: 200px;
}
.ver{
  width: 300px;
}

.auth-btn {
  width: 120px;
  background: #2db400;
  padding: 10px;
  color: #fff;
  border: none;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background: #2db400;
  color: #fff;
  border: none;
  font-size: 16px;
  margin-top: 20px;
}

.footer-text {
  margin-top: 20px;
  font-size: 12px;
  color: #888;
  text-align: center;
}
