.Item{
    width:450px;
    display:flex;
    justify-content:space-around;
    border-bottom:1px solid lightgray;
}
.Item .date {
  font-size: 16px;
  color: gray;
}
.Item .btn{
  cursor: pointer;
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
